@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: white;
}


.container h1{
    padding: 0;
    margin: 0;
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255,255,255, .7);
}

.container .description{
    opacity: 0;
    color: white;
    width: 100%;
    text-align: center;
}

.container h1:hover .description {
    opacity: 1;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}


.hero {
    background-image: url("./Picture/aaa.jpg");
    filter: saturate(.7);
    height: 100vh;
    background-size: cover;
}

.how_R_U {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
}

.feelings {
    margin-top: 60px;
    margin-left: 30px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    font-size: 4em;
}

.feelings div {
    background-color: rgba(0,0,0,.7);
    padding: 20px;
    border-radius: 20px;
    box-shadow: lightgray ;
    cursor: pointer;
}

.feelings div:hover {
    background-color: rgba(0,0,0, 1);
    transition-duration: .3s;
    color: rgba(141, 3, 63, 1);
}

.bttn_align {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.recom_bttn {
    width: auto;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
    cursor: pointer;
}

.recom_bttn:active {
    outline: none;
    border: none;
  }


.recommendations_hidden {
    position: absolute;
    top: 10%;
    right: 10%;
    right: 100%;
    width: 80%;
    height: 80vh;
    background-color: rgba(63, 63, 63, 0.8);
    z-index: 2;
    border-radius: 30px;
    /* display: hidden; */
}

.recommendations {
    position: absolute;
    top: 10%;
    right: 10%;
    right: 100%;
    width: 80%;
    height: 80vh;
    background-color: rgba(63, 63, 63, 0.8);
    z-index: 2;
    border-radius: 30px;
    display: hidden;
}