@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: white;
}


.container h1{
    padding: 0;
    margin: 0;
    font-size: 8em;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255,255,255, .7);
}

.container .description{
    opacity: 1;
    color: white;
    width: 100%;
    text-align: center;
    transition-property: opacity, transform;
}

.img {
    display: flex;
    justify-content: center;
    margin-top: 110px;
}


.hero {
    background-image: url("./Picture/aaa.jpg");
    filter: saturate(.7);
    height: 100vh;
    background-size: cover;
}

.how_R_U {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 3em;
}

.feelings {
    margin-top: 60px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 4em;
}

.feelings div {
    background-color: rgba(0,0,0,.7);
    padding: 20px;
    border-radius: 20px;
    box-shadow: lightgray ;
}

.feelings div:hover {
    background-color: rgba(0,0,0, 1);
    transition-duration: .3s;
    color: rgba(141, 3, 63, 1);
}

